<div class="main-header">
  <div class="left-header">
    <div class="main-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="end-tab">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages"></div>

<div class="forms"></div>