<div class="wrapper">
  <div class="side-bar">
    <div class="side-header"></div>
    <div class="side-main"></div>
    <%= render "side_bar" %>
  </div>
  <div class="main-chat">
    <div class="main-header"></div>
    <div class="main-main"></div>
    <div class="main-footer"></div>
    <%= render "main_chat" %>
  </div>
</div>