.wrapper {
  display: flex;
  height: 100vh;
}

/* side-bar */

.side-bar {
  width: 300px;
  background-color: #253141;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
}

.side-main {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

/* main */

.main-chat {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.main-header {
  height: 100px;
  padding: 0 40px;
}

.main-main {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-footer {
  height: 90px;
  background-color: #dddddd;
  padding: 0 20px;
  padding: 20px 40px;
}